@font-face{
    font-family: "roboto-bold";
    src: url("../../fonts/Roboto-bold.woff") format("woff"),
    url("../../fonts/Roboto-bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: "roboto-regular";
    src: url("../../fonts/Roboto-regular.woff") format("woff"),
    url("../../fonts/Roboto-regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "roboto-medium";
    src: url("../../fonts/Roboto-medium.woff") format("woff"),
    url("../../fonts/Roboto-medium.woff2") Format("woff2");
    font-weight: normal;
    font-style: normal;
}