.container__head
    header.header__head
        button.button.header__button
            i.fa.fa-bars(aria-hidden="true")
        h3.header__head__title--text-uppercase Система запросов
        h3.header__head__logo AVIALOGO
        a.mail(href="#")
            span.mail--message-new
            i.fa.fa-envelope(aria-hidden="true")
            
    